# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:

* list of popular languages for data science
* list of common libraries used in data science
* Data science tools
* Examples of arithmetic experessions in Python.

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python
4. Scala
5. Java
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Keras
4. Pytorch
5. ggplot2

| Data Science Tools |
| :----------------: |
| Python             |
| RStudio            |
| Jupyter Notebook   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author

Ruth makolo